@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;0,700;1,200;1,300&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 98vw;
  height: 96vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif, "Ubuntu";
}

#plane {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

#plane:hover {
  transform: scale(1.2);
}

#list1 {
  display: flex;
  list-style-type: none;
  width: 40%;
  position: fixed;
  right: 0%;
  justify-content: flex-end;
  top: 20px;
}

.items {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.items:hover {
  transform: scale(1.2);
}

#google {
  padding-right: 20px;
}

#title {
  display: flex;
  position: fixed;
  font-size: 15em;
  left: 6%;
  top: -5%;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

@media screen and (max-width: 320px) {
  .items{
    padding-left: 10px;
  }

  #google {
    padding-right: 7px;
  }

  #title{
    font-size: 6rem;
    top: 7.5%;
  }
}


@media  screen and (min-width: 321px) and (max-width: 360px)  {
  .items{
    padding-left: 18px;
  }
  #google {
    padding-right: 10px;
  }
  #title{
    font-size: 8rem;
    top: 6%;
  }
}


@media  screen and (min-width: 361px) and (max-width: 639px)  {
  #google {
    padding-right: 10px;
  }
  #title{
    font-size: 9rem;
    top: 4%;
  }
}


@media  screen and (min-width: 640px) and (max-width: 900px)  {
  #title{
    font-size: 10rem;
    top: 4%;
  }
}

@media screen and (min-width: 910px) and (max-width: 1250px) {
  #title{
      font-size: 15rem;
      top:6%;
  }
}


#title:hover {
  transform: scale(1.2);
}

#disc {
  position: absolute;
  bottom: 5%;
  left: 7%;
  font-weight: 600;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

#disc:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 649px) {
    #disc{
        display: none;
    }
}
@media screen and (min-width: 650px) and (max-width: 850px) {
    #disc{
        font-size: 15px;
    }
}


#book {
  position: fixed;
  bottom: 5%;
  right: 30%;
  width: 15rem;
  height: 2.5rem;
  border-radius: 10px;
  font-size: medium;
  background-color: black;
  color: #fff;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

#share {
  position: absolute;
  bottom: 5%;
  right: 8%;
  width: 15rem;
  height: 2.5rem;
  border-radius: 10px;
  font-size: medium;
  background-color: black;
  color: #fff;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

@media screen and (max-width: 1280px) {
  #book {
    position: fixed;
    bottom: 5%;
    right: 8%;
    width: 15rem;
    height: 2.5rem;
    border-radius: 10px;
    font-size: medium;
    background-color: black;
    color: #fff;
  }

  #share {
    position: absolute;
    bottom: 15%;
    right: 8%;
    width: 15rem;
    height: 2.5rem;
    border-radius: 10px;
    font-size: medium;
    background-color: black;
    color: #fff;
  }
}
#book:hover {
  transform: scale(1.2);
}

#share:hover {
  transform: scale(1.2);
}
